<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Simple CRUD!!!</title>
    </head>
    <body>
        <h1 th:text="'Simple CRUD!!!'"/>
        <form method="post" th:object="${pessoa}" th:action="@{/}">
            <input type="hidden" th:field="*{id}"/>
            <input type="text" th:field="*{nome}" placeholder="Nome"/>
            <button type="submit">Salvar</button>
        </form>
        <table>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <td></td>
            </tr>
            <tr th:each="item : ${list}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.nome}"></td>
                <td>
                    <form th:action="@{/{id}(id=${item.id})}" style="display: inline;">
                        <button type="submit">Editar</button>
                    </form>
                    <form method="post" th:action="@{/delete/{id}(id=${item.id})}" style="display: inline;" onsubmit="return confirm('Deseja excluír?')">
                        <button type="submit">Apagar</button>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>